<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>配置林肯</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pgLk.css">
    <script src="js/dl-padd.js"></script>
</head>

<body id="pgLk-Gdsj">
 <!-- 头部开始 -->
 <div class="nav w ">
    <ul class="login-bar">
      <li>
        <a href="#">注册</a>
        /
        <a href="#">登录</a>
      </li>
      <li>
        <a href="#">经销商网络</a>
      </li>
      <li>
        <a href="#">联系我们</a>
      </li>
      <li>
        <a href="#"
          ><img src="images/search.png" alt="" class="search"
        /></a>
      </li>
    </ul>
    <div class="main-nav">
      <a href="../index.html" class="logo">
        <img src="picture/logo.png" alt="" />
      </a>
      <ul>
        <li class="active">
          <a href="#"
            ><span>林肯汽车</span><i class="iconfont icon-xiajiantou"></i
          ></a>
        </li>
        <li>
          <a href="yysj.html"><span>预约试驾</span></a>
        </li>
        <li>
          <a href="#"
            ><span>购车服务</span><i class="iconfont icon-xiajiantou"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><span>走进林肯</span><i class="iconfont icon-xiajiantou"></i
          ></a>
        </li>
        <li>
          <a href="#"
            ><span>车主专区</span><i class="iconfont icon-xiajiantou"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
<div class="products w">
    <div class="lincolnCar w dis">
    <div class="Car_nav">
      <ul>
        <li><a href="#">所有车型</a></li>
        <li><a href="#">SVU</a></li>
        <li><a href="#">轿车</a></li>
      </ul>
    </div>
    <div class="car">
      <ul>
        <li>
          <a href="#"
            ><img src="picture/navigator2018.jpg" alt=""
          /></a>
          <h2>全新林肯领航员NAVIGATOR</h2>
          <p>￥1,098,000 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
        </li>
        <li>
          <a href="#"
            ><img src="picture/mkc2019-mob320.jpg" alt=""
          /></a>
          <h2>新款林肯MKC</h2>
          <p>￥279,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
        <li>
          <a href="#"><img src="picture/nautilus.jpg" alt=""/></a>
          <h2>全新林肯航海家NAUTILUS</h2>
          <p>￥388,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
        <li>
          <a href="#"><img src="picture/mkz.jpg" alt=""/></a>
          <h2>林肯MKZ</h2>
          <p>￥255,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
        <li>
          <a href="#"><img src="picture/conti-mob.jpg" alt=""/></a>
          <h2>林肯大陆CONTINENTAL</h2>
          <p>￥360,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
      </ul>
    </div>
    <div class="car dis">
      <ul>
        <li>
          <a href="#"
            ><img src="picture/navigator2018.jpg" alt=""
          /></a>
          <h2>全新林肯领航员NAVIGATOR</h2>
          <p>￥1,098,000 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
        </li>
        <li>
          <a href="#"
            ><img src="picture/mkc2019-mob320.jpg" alt=""
          /></a>
          <h2>新款林肯MKC</h2>
          <p>￥279,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
        <li>
          <a href="#"><img src="picture/nautilus.jpg" alt=""/></a>
          <h2>全新林肯航海家NAUTILUS</h2>
          <p>￥388,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
      </ul>
    </div>
    <div class="car dis">
      <ul>
        <li>
          <a href="#"><img src="picture/mkz.jpg" alt=""/></a>
          <h2>林肯MKZ</h2>
          <p>￥255,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
        <li>
          <a href="#"><img src="picture/conti-mob.jpg" alt=""/></a>
          <h2>林肯大陆CONTINENTAL</h2>
          <p>￥360,800 起</p>
          <a href="#">车型概览</a>
          <a href="#">配置林肯</a>
          <a href="#">预约试驾</a>
          <a href="#">礼遇方案</a>
        </li>
      </ul>
    </div>
    <div class="price ">
     <a href="#"> <span>全系车价格<b class="iconfont icon-gengduo"></b></span></a>
    </div>
  </div>
  <div class="main-nav-1 w dis">
     <div class="flex-center w">
        <div class="flex-left">
            <ul>
              <li><a href="#">配置林肯</a></li>
              <li><a href="financial.html">林肯金融</a></li>
              <li><a href="#">车型对比</a></li>
              <li><a href="#">最新市场动态</a></li>
              <li><a href="jxswl.html">获取经销商报价</a></li>
              <li><a href="jsonChen.html">获取车型手册</a></li>
              <li><a href="#">获取最新资讯</a></li>
            </ul>
          </div>
          <div class="flex-right">
             <div><a href="#"><img src="picture/lincoln-global-navigation-desk-270-202.jpg" alt=""></a>
               <a href="#">最新市场动态</a>
            </div>
             <div><a href="pgLk.html"><img src="picture/lincoln-global-navigation-desk-3.jpg" alt=""></a>
              <a href="pgLk.html">配置林肯</a>
            </div>
             <div><a href="financial.html"><img src="picture/lincoln-global-navigation-desk270-202.jpg" alt=""></a>
              <a href="financial.html">林肯金融</a>
            </div>
          </div>
     </div>
  </div>
  <div class="main-nav-1 w dis">
      <div class="flex-center">
         <div class="flex-left">
             <ul>
               <li><a href="#">林肯之道</a></li>
               <li><a href="#">林肯时刻</a></li>
               <li><a href="#">百年荣耀</a></li>
               <li><a href="#">品牌动向</a></li>
               <li><a href="#">新闻中心</a></li>
               <li><a href="lKjp.html">林肯精品</a></li>
               
             </ul>
           </div>
           <div class="flex-right">
              <div><a href="#"><img src="picture/lincoln-global-navigation-desk-4.jpg" alt=""></a>
                <a href="#">品牌动向</a>
             </div>
              <div><a href="#"><img src="picture/lincoln-global-navigation-desk-5-270-202.jpg" alt=""></a>
               <a href="#">新闻中心</a>
             </div>
              <div><a href="linkenRoad.html"><img src="picture/lincoln-global-navigation-desk-9-270-202.jpg" alt=""></a>
               <a href="linkenRoad.html">林肯之道</a>
             </div>
           </div>
      </div>
   </div>
   <div class="main-nav-1 w dis">
      <div class="flex-center">
         <div class="flex-left">
             <ul>
               <li><a href="czZq.html">车主权益</a></li>
               <li><a href="#">车主体验</a></li>
               <li><a href="#">售后服务</a></li>
               <li><a href="#">智能应用</a></li>
             </ul>
           </div>
           <div class="flex-right">
              <div><a href="#"><img src="picture/lincoln-global-navigation-desk-aftersales270×202.jpg" alt=""></a>
                <a href="#">专业售后服务</a>
             </div>
              <div><a href="#"><img src="picture/lincoln-global-navigation-desk-owner270×202.jpg" alt=""></a>
               <a href="#">车主推荐计划</a>
             </div>
              <div><a href="#"><img src="picture/menu_270x202.jpg" alt=""></a>
               <a href="#">林肯之道APP</a>
             </div>
           </div>
      </div>
   </div>
</div>
  <!-- <div class="sticky">
    <ul class="sticky_left">
      <li><a href="#"><img src="picture/floating-kba-brochure.jpg" alt=""></a></li>
      <li><a href="#"><img src="picture/floating-kba-car.jpg" alt=""></a></li>
      <li><a href="#"><img src="picture/floating-kba-td.jpg" alt=""></a></li>
      <li><a href="#"><img src="picture/floating-kba-dealer.jpg" alt=""></a></li>
      <li><a href="#"><img src="picture/floating-kba-payment.jpg" alt=""></a></li>
    </ul>
    <ul class="sticky_right ">
      <li><a href="#">获取车型手册</a></li>
      <li><a href="#">配置林肯</a></li>
      <li><a href="#">配置林肯</a></li>
      <li><a href="#">经销商网络</a></li>
      <li><a href="#">车贷计算器</a></li>
    </ul>
  </div> -->
  <div id="bg" class="dis"></div>
  <!-- 头部结束 -->

    <div class="pgLk-box-banxing">
        <div class="pgLk-box">
            <header id="pgLk-gdHeader" class="pgLk-header">
                <div class="pgLk-xiantiao"></div>
                <div class="pgLk-header-zuo">
                    <h3>配置林肯</h3>
                    <h4>选择车型</h4>
                </div>

                <div class="pgLk-model-filter">
                    <p class="pgLk-filter-reset">
                        <a ng-click="resetFilters()" href="javascropt:;">重置</a>
                    </p>
                    <div class="pgLk-filter-box">
                        <span>
                            <a href="#">筛选</a>
                        </span>
                        <p style="    display: none;"> <a href="#"> ... </a></p>
                        <ul class="pgLk-dthq-li">
                            <!-- <li value="“SUV”"><a href="#">SUV</a></li> -->
                            <!-- <li value="“轿车”"><a href="#">轿车</a>  </li> -->
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            <!-- 浮动top     1 -->
            <header id="pgLk-dtHeader2" class="pgLk-header">
                <div class="pgLk-xiantiao"></div>
                <div class="pgLk-header-zuo">
                    <h3>配置林肯</h3>
                    <h4>选择车型</h4>
                </div>

                <div class="pgLk-model-filter">
                    <p class="pgLk-filter-reset">
                        <a ng-click="resetFilters()" href="javascript:;">重置</a>
                    </p>
                    <div class="pgLk-filter-box">
                        <span>
                            <a href="#">筛选</a>
                        </span>
                        <p style="display: none;"> <a href="#"> ... </a></p>
                        <ul class='pgLk-dthq-li'>
                            <!-- <li value="“SUV”"><a href="#">SUV</a></li>
                        <li value="“轿车”"><a href="#">轿车</a>  </li> -->
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </header>
            <!-- 浮动top     end -->
            <hr class="pgLk-xiantiao">

            <!-- 显示车型 -->
            <div id="pglk-xscxBox" class='pglk-xscxBox'>
                <!-- 一个类型都在pglk-xscxBox-x1  里面 -->
                <!-- <div class="pglk-xscxBox-x1">
                <h4 class="pglk-xscxBox-wz">SUV</h4>

                <div class="pglk-cxHz">
                    <img src="images/pgLk_xc1.jpg" width="260">
                    <p class="pglk-cxHz-wz1">全新林肯领航员NAVIGATOR</p>
                    <p class="pglk-cxHz-wz12">市场指导价 ¥ 1,098,000 起</p>
                    <a style="width: 100%" class="pglk-cxHz-wz3">全新林肯领航员NAVIGATOR </a>
                </div>

                <div class="pglk-cxHz">
                        <img src="images/pgLk_xc1.jpg" width="260">
                        <p class="pglk-cxHz-wz1">全新林肯领航员NAVIGATOR</p>
                        <p class="pglk-cxHz-wz12">市场指导价 ¥ 1,098,000 起</p>
                        <a style="width: 100%" class="pglk-cxHz-wz3">全新林肯领航员NAVIGATOR </a>
                    </div>

                <div class="clearfix"></div>

            </div> -->

                <!-- <div class="pglk-xscxBox-x1">
                <h4 class="pglk-xscxBox-wz">轿车</h4>
                <div class="pglk-cxHz">
                    <img src="images/pgLk_xc1.jpg" width="260">
                    <p class="pglk-cxHz-wz1">全新林肯领航员NAVIGATOR</p>
                    <p class="pglk-cxHz-wz12">市场指导价 ¥ 1,098,000 起</p>
                    <a style="width: 100%" class="pglk-cxHz-wz3">全新林肯领航员NAVIGATOR </a>
                </div>


                <div class="clearfix"></div>

            </div> -->

            </div>
        </div>
    </div>


    <!-- 底部开始 -->
    <div class="footer w">
        <div class="footer_box">
          <div>
            <h4>林肯车型</h4>
            <div class="brand">
              <a href="#"><p>新款林肯MKC</p></a>
              <a href="#"><p>全新林肯航海家NAUTILUS</p></a>
              <a href="#"><p>全新林肯领航员NAVIGATOR</p></a>
              <a href="#"><p>林肯MKZ</p></a>
              <a href="#"><p>林肯大陆CONTINENTAL</p></a>
            </div>
          </div>
          <div>
            <h4>购车服务</h4>
            <div class="brand">
              <a href="#"><p>配置林肯</p></a>
              <a href="#"><p>林肯金融</p></a>
              <a href="#"><p>车型对比</p></a>
              <a href="#"><p>最新市场动态</p></a>
              <a href="#"><p>获取经销商报价</p></a>
              <a href="#"> <p>获取车型手册</p></a>
              <a href="#"><p>获取最新资讯</p></a>
              <a href="#"><p>预约试驾</p></a>
              <a href="#"><p>经销商网络</p></a>
            </div>
          </div>
          <div>
            <h4>走近林肯</h4>
            <div class="brand">
              <a href="#"><p>林肯之道</p></a>
              <a href="#"><p>林肯时刻</p></a>
              <a href="#"><p>百年荣耀</p></a>
              <a href="#"><p>品牌动向</p></a>
              <a href="#"><p>新闻中心</p></a>
            </div>
          </div>
          <div>
            <h4>车主服务</h4>
            <div class="brand">
              <a href="#"><p>车主权益</p></a>
              <a href="#"><p>车主体验</p></a>
              <a href="#"><p>售后服务</p></a>
              <a href="#"><p>智能应用</p></a>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="bar">
            <ul>
              <li>
                <a href="#"
                  ><img src="picture/icon-wechat.jpg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="picture/icon-weibo.jpg" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="picture/icon-email.jpg" alt=""
                /></a>
              </li>
            </ul>
            <p>客户服务中心热线 400-988-6789</p>
          </div>
        </div>
      </div>
      <!-- 底部结束 -->

    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/index.js"></script>
    <script>
        //数据
        var data = [
            "SUV", [{
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }],
            "轿车", [{
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }, {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            },
            {
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }],
            "大奔", [{
                img: "images/pgLk_xc1.jpg",
                type: "全新林肯领航员NAVIGATOR",
                pgGg: "市场指导价 ¥ 1,098,000 起",
                pgMin: "配置林肯MKZ "
            }]
        ]



        $(function () {
            //动态创建.html(); list 
            var list = [];
            // dTlist 存标题 push 到 pgLk-dtHeader 里
            var dTlist = [];
            for (var i = 0; i < data.length; i++) {
                if (i % 2 != 0) {
                    list.push('<div class="pglk-xscxBox-x1">');
                    list.push('<h4 class="pglk-xscxBox-wz">' + data[i - 1] + '</h4>');
                    dTlist.push(' <li value="' + data[i - 1] + '"><a href="javascript:;">' + data[i - 1] + '</a></li>');
                    for (var key in data[i]) {
                        list.push('<div class="pglk-cxHz">');
                        list.push('<img src="' + data[i][key].img + '" width="260">');
                        list.push('<p class="pglk-cxHz-wz1">' + data[i][key].type + '</p>');
                        list.push('<p class="pglk-cxHz-wz12">' + data[i][key].pgGg + '</p>');
                        list.push('<a href="javascript:;"  class="pglk-cxHz-wz3">' + data[i][key].pgMin + '</a>');
                        list.push(' </div>');
                    }
                    list.push('<div class="clearfix"></div>');
                    list.push(' </div>');
                }
            }
            var lIst = list.join("");
            var dTlistMM = dTlist.join("");

            // 往车型里加
            $('#pglk-xscxBox').html(lIst);
            //选择列表里加
            $('.pgLk-dthq-li').html(dTlistMM);



            //滚动显示

         
               //获取DIV到顶部的距离
            var pgLkGdsj = document.getElementById('pgLk-Gdsj');
            pgLkGdsj.onscroll = function () {
                     //滚出的距离
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
            //$('#pgLk-gdHeader').offset().top      div  距离顶部的距离
                // console.log($('#pgLk-gdHeader').offset().top);
                //  console.log(scrollTop);
                var pgLkGdsj_jl = $('#pgLk-gdHeader').offset().top;
                if(scrollTop>= pgLkGdsj_jl){
                    // $('#pgLk-gdHeader2')
                    $('#pgLk-dtHeader2').fadeIn(10);
                    
                }else{
                    $('#pgLk-dtHeader2').fadeOut(10);
                }

            }


            //点击切换车型

            $('.pgLk-filter-box>span').mouseenter(function () {
                $(this).parent().addClass('pgLk-atakf');
            });

            $('.pgLk-filter-box').mouseleave(function () {
                $(this).removeClass('pgLk-atakf')
            });

            $('.pgLk-filter-box>ul>li').click(function () {
                var idx = $(this).index();
                $('.pglk-xscxBox-x1').eq(idx).removeClass('pglk-xscxBox-x1Yc').siblings('.pglk-xscxBox-x1').addClass('pglk-xscxBox-x1Yc');
            });

            $('.pgLk-filter-reset').click(function () {
                if ($('.pglk-xscxBox-x1').hasClass('pglk-xscxBox-x1Yc')) {
                    $('.pglk-xscxBox-x1').removeClass('pglk-xscxBox-x1Yc');
                }
            });



        });

    </script>
</body>

</html>